/* Imports Fonts from the assets folder */
@font-face {
    font-family: abang;
    src: url(../assets/fonts/Abang.otf);
}

@font-face {
  font-family: orbitron;
  src: url(../assets/fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: racingSansOne;
    src: url(../assets/fonts/RacingSansOne-Regular.ttf);
}

@font-face {
    font-family: raleway-reg;
    src: url(../assets/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: raleway-sb;
    src: url(../assets/fonts/Raleway-SemiBold.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow-y: hidden; /*hide vertical scrollbar*/
}

.col {  
    padding: 0;
}

.row {
    margin: 0;
}
/* Cursor change on hoover, only on the launch buttons */
#launch, #check, #graph {
    cursor: pointer;
}

/* Homepage */
.main-con {
    padding: 0px !important;
    margin: 0 !important;
    position: relative;
    background: #2D1674 url(../assets/img/background-purple.png);
    background-size: cover;
    width: 100%;
    height: 75vh;
}

#wave {
    position: absolute;
    bottom: 0;
    /* background-color: #ff0; */
    width: 100%;
}

#wave path {
    fill: #ffffff;
}

section.sec2 {
    width: 100%;
    height: 19vh;
    background-color: #ffffff;
}

.navbar-brand {
    color: #fBf1Ef !important;
    font-family: racingSansOne;
    font-size: 50px;
    margin-right: 350px;
}

.nav-link {
    color: #FBF1EF !important;
    font-family: raleway-sb;
    font-size: 30px;

    background-color: #B175FF;
    border-radius: 50px;
    margin: 0px 30px 0px 30px !important;
    width: 350px !important;
    letter-spacing: 5px;
}

.stars {
    height: 111px;
}

.v2-logo {
    position: absolute;
    left: 350px;
}

.rocket-img {
    position: absolute;
    right: 300px;
    transform: rotate(-80deg);
    bottom: -100px;
}

.launch-btn {
    position: absolute;
    bottom: -100px;
    left: 100px;

    color: #FBF1EF !important;
    font-family: raleway-sb;
    font-size: 30px;
    letter-spacing: 5px;
    padding: .5rem;

    background-color: #B175FF;
    border-radius: 50px;
    margin: 0px 30px 0px 30px;
    width: 350px !important;
}
/* About page */
.about-container {
    background-image: url(../assets/img/background-purple.png);
    background-size: cover;
}

.row-about {
    height: 86.9vh;
    padding: 0px 75px 75px 75px !important;
    margin: 0px !important;
    position: relative;
}

.col-team, .col-about {
    background-color: rgba(251, 241, 239, 0.3);
    padding: 25px;
    border-radius: 25px;

    color: #FBF1EF;
    font-family: raleway-sb;
    font-size: 40px;
}

.col-team {
    margin-right: 50px;
}

.about-title {
    color: #FBF1EF;
    font-family: raleway-sb;
    font-size: 40px;
}

.team-members {
    margin-top: 40px;
    margin-bottom: 40px;
}

.profile {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    font-size: 30px;
    color: #FBF1EF;
    font-family: raleway-sb;
}

.role {
    font-size: 20px;
    color: #FBF1EF;
    font-family: raleway-sb;
}

.col-about {
    margin-left: 95px !important;
}
/* Check page section */
.check-con {
    padding: 0px !important;
    margin: 0 !important;
    position: relative;
    background: #2D1674 url(../assets/img/background-purple.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.check-window {
    background-color: #000000;
    border: 5px solid #B175FF;
    border-radius: 30px;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    letter-spacing: 5px;
}

.check-list ul {
    padding-left: 5px;
}

.check-list li {
    font-family: orbitron;
    color: #29FE10;
    list-style: none;
    font-size: 22px;
}

.check-btn {
    color: #FBF1EF !important;
    font-family: raleway-sb;
    font-size: 30px;
    letter-spacing: 5px;

    background-color: #B175FF;
    border-radius: 50px;
    margin: 30px 30px 0px 30px;
    width: 350px !important;

    position: absolute;
    left: 208px;
}

#rocket {
    position: absolute;
    transform: rotate(-48deg);
    bottom: 70px;
    right: 350px;
}
/* Rocket CSS animation */
.rocket-ani {
    animation: fly 3s 5s ease-in;
  }
  
  @keyframes fly {
    0% {
      bottom: 70px;   
    }
    100% {
      bottom: 100%;
    }
  }
/* graphs */
.chart-up {
    padding: 5%;
}
.chart-down {
    padding: 5%;
}
/* Footer */
.footer {
    position: absolute;
    bottom: 1px;
    left: 85vh;
}